livekit-agents
livekit-plugins-openai
livekit-plugins-silero
livekit-plugins-google
livekit-plugins-noise-cancellation
langchain-community
requests
python-dotenv
duckduckgo-search
fuzzywuzzy
pyautogui
pynput
python-Levenshtein
pywin32
livekit
beautifulsoup4
selenium
webdriver-manager
huggingface-hub
Pillow
pyttsx3
ultralytics
opencv-python
mediapipe
